.layout-container{
/* display: flex;
justify-content: center; */
/* padding: 2.5% 0%; */
}
.layout{
  /* width: 90%;
  height: 97vh; */
 /* display: flex; */
  /* text-align: center; */
  /* align-items: center; */
  /* background-color: aliceblue;
border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* img{
    width: 100%;
    border-radius: 2rem 2rem 0rem 0rem;
    height: 40%;
  } */
}

  .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  .header{
    li{
      background-color: rgb(229 231 235);
      border-radius: 15%;
      padding: 0.5rem 1rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }